.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.skill_card {
  position: relative;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-skill{
  vertical-align: middle;
  width: 50px;
}
